Repository boostcampaitech4lv23recsys1/final-project-level3-recsys-01, pull requests merged in 2023-02, with the labels that each got.

#60 Front new landing design
  front/src/assets/images/LandingBack.png
  front/src/assets/images/LandingBackVer2.png
  front/src/components/Footer.js
  front/src/components/Header.js
  front/src/components/TemporaryDrawer.js
  front/src/pages/LandingPage_ver2/LandingPage.css
  front/src/pages/LandingPage_ver2/LandingPage.js
Labels: front

#59 Front preference recommend page
  front/package.json
  front/src/App.js
  front/src/api.js
  front/src/assets/icons/click.png
  front/src/components/CodiPartButton.js
  front/src/pages/PreferenceRecommendPage/PreferenceRecommendPage.css
  front/src/pages/PreferenceRecommendPage/PreferenceRecommendPage.js
  front/src/pages/PreferenceRecommendPage/components/BasicButton.js
  front/src/pages/PreferenceRecommendPage/components/BasicPopover.js
  front/src/pages/PreferenceRecommendPage/components/BasicSearch.js
  front/src/pages/PreferenceRecommendPage/components/CodiPartInputs.css
  front/src/pages/PreferenceRecommendPage/components/CodiPartInputs.js
  front/src/pages/PreferenceRecommendPage/components/Component.js
  front/src/pages/PreferenceRecommendPage/components/InfoTextAndVideo.css
  front/src/pages/PreferenceRecommendPage/components/InfoTextAndVideo.js
  front/src/pages/PreferenceRecommendPage/components/ItemNamePrint.js
  front/src/pages/PreferenceRecommendPage/components/TopBottomButton.js
  front/src/pages/PreferenceRecommendPage/components/TopBottomPopover.js
  front/yarn.lock
Labels: front

#67 [Update]: 2차 디자인 반영
  front/src/assets/images/LandingBackVer2.png
  front/src/assets/images/basicItem.png
  front/src/assets/images/characterInfo.png
  front/src/assets/images/feedbackButton.png
  front/src/assets/images/fixItem.png
  front/src/assets/images/quests.png
  front/src/assets/images/resultBackground.png
  front/src/assets/images/setItem.png
  front/src/components/Header.css
  front/src/components/Header.js
  front/src/pages/LandingPage_ver2/LandingPage.css
  front/src/pages/LandingPage_ver2/components/GoCodiRec.js
  front/src/pages/PreferenceRecommendPage/PreferenceRecommendPage.css
  front/src/pages/PreferenceRecommendPage/components/InfoTextAndVideo.css
  front/src/pages/PreferenceRecommendPage/components/InfoTextAndVideo.js
  front/src/pages/PreferenceRecommendResultPage/PreferenceRecommendResultPage.css
  front/src/pages/PreferenceRecommendResultPage/PreferenceRecommendResultPage.js
  front/src/pages/PreferenceRecommendResultPage/components/AllParts.js
  front/src/pages/PreferenceRecommendResultPage/components/BestCodi.js
  front/src/pages/PreferenceRecommendResultPage/components/BestCodiTopThree.js
  front/src/pages/PreferenceRecommendResultPage/components/FixCodiPartButton.js
  front/src/pages/PreferenceRecommendResultPage/components/FixParts.js
  front/src/pages/PreferenceRecommendResultPage/components/RetryButton.js
  front/src/pages/PreferenceRecommendResultPage/components/TitleFixItem.js
Labels: front

#77 Front feedback
  backend/src/routers/inference_router.py
  front/src/App.js
  front/src/pages/PreferenceRecommendResultPage/PreferenceRecommendResultPage.js
  front/src/pages/PreferenceRecommendResultPage/components/AllCodiPartButton.js
  front/src/pages/PreferenceRecommendResultPage/components/AllParts.js
  front/src/pages/PreferenceRecommendResultPage/components/BestCodi.js
  front/src/pages/PreferenceRecommendResultPage/components/BestCodiTopThree.js
  front/src/pages/PreferenceRecommendResultPage/components/Feedback.js
  front/src/pages/PreferenceRecommendResultPage/components/FixCodiPartButton.js
  front/src/pages/PreferenceRecommendResultPage/components/FixParts.js
Labels: front

#83 Front feedback
  front/package.json
  front/src/App.css
  front/src/App.js
  front/src/components/Footer.css
  front/src/components/Footer.js
  front/src/components/Header.js
  front/src/components/TemporaryDrawer.js
  front/src/pages/LandingPage_ver2/components/GoCodiDiagnosis.js
  front/src/pages/LandingPage_ver2/components/GoCodiRec.js
  front/src/pages/PreferenceRecommendPage/PreferenceRecommendPage.css
  front/src/pages/PreferenceRecommendPage/PreferenceRecommendPage.js
  front/src/pages/PreferenceRecommendPage/components/GoCodiRecResult.js
  front/src/pages/PreferenceRecommendResultPage/PreferenceRecommendResultPage.css
  front/src/pages/PreferenceRecommendResultPage/components/AllCodiPartButton.js
  front/src/pages/PreferenceRecommendResultPage/components/AllParts.js
  front/src/pages/PreferenceRecommendResultPage/components/FixCodiPartButton.js
  front/src/pages/PreferenceRecommendResultPage/components/FixParts.js
  front/src/pages/PreferenceRecommendResultPage/components/RetryButton.js
Labels: front

#87 [Fix]: 프론트 오류 수정 및 푸터 개선
  front/public/index.html
  front/src/App.css
  front/src/App.js
  front/src/pages/LandingPage_ver2/LandingPage.css
  front/src/pages/LandingPage_ver2/components/ProjectSummary.js
  front/src/pages/LandingPage_ver2/components/Slogan.js
  front/src/pages/LandingPage_ver2/components/SubSummary.js
  front/src/pages/PreferenceRecommendPage/components/InfoTextAndVideo.css
  front/src/pages/PreferenceRecommendPage/components/InfoTextAndVideo.js
Labels: front

#92 [Feat]: 워딩 수정 및 버튼 추가
  front/src/pages/CodiDiagnosisPage/CodiDiagnosisPage.css
  front/src/pages/CodiDiagnosisPage/CodiDiagnosisPage.js
  front/src/pages/CodiDiagnosisPage/components/InfoText.css
  front/src/pages/CodiDiagnosisPage/components/InfoText.js
  front/src/pages/CodiDiagnosisPage/components/NextCodiRec.js
  front/src/pages/CodiDiagnosisPage/components/ShowDiagnosisResult.js
  front/src/pages/LandingPage_ver2/components/SubSummary.js
  front/src/pages/PreferenceRecommendResultPage/PreferenceRecommendResultPage.css
  front/src/pages/PreferenceRecommendResultPage/PreferenceRecommendResultPage.js
  front/src/pages/PreferenceRecommendResultPage/components/LoadingAnimation.js
  front/src/pages/PreferenceRecommendResultPage/components/ResultTitle.js
  front/src/pages/PreferenceRecommendResultPage/components/TitleFixItem.js
Labels: front

#95 [Feat]: 기능 추가
  front/src/components/CodiPartButton.js
  front/src/components/CodiSimulator.js
  front/src/pages/CodiDiagnosisPage/CodiDiagnosisPage.js
  front/src/pages/CodiDiagnosisPage/components/CodiPartInputs.js
  front/src/pages/CodiDiagnosisPage/components/GetDiagnosisResult.js
  front/src/pages/CodiDiagnosisPage/components/NextCodiRec.js
  front/src/pages/PreferenceRecommendPage/PreferenceRecommendPage.css
  front/src/pages/PreferenceRecommendPage/PreferenceRecommendPage.js
  front/src/pages/PreferenceRecommendPage/components/CodiPartInputs.js
  front/src/pages/PreferenceRecommendResultPage/PreferenceRecommendResultPage.css
  front/src/pages/PreferenceRecommendResultPage/PreferenceRecommendResultPage.js
  front/src/pages/PreferenceRecommendResultPage/components/AllParts.js
Labels: front

#111 [Fix]: Button Disable
  front/src/components/CodiPartButton.js
  front/src/pages/CodiDiagnosisPage/CodiDiagnosisPage.js
  front/src/pages/CodiDiagnosisPage/components/CodiPartInputs.js
  front/src/pages/CodiDiagnosisPage/components/GetDiagnosisResult.js
  front/src/pages/PreferenceRecommendPage/PreferenceRecommendPage.js
  front/src/pages/PreferenceRecommendPage/components/CodiPartInputs.js
  front/src/pages/PreferenceRecommendPage/components/GoCodiRecResult.js
Labels: front

#127 [Front] 리뷰 바로 가기 버튼, 기타 오류 해결
  front/src/App.js
  front/src/components/CodiPartButton.js
  front/src/components/GoReviewPage.css
  front/src/components/GoReviewPage.js
  front/src/pages/CodiDiagnosisPage/CodiDiagnosisPage.js
  front/src/pages/CodiDiagnosisPage/components/CodiPartInputs.js
  front/src/pages/CodiDiagnosisPage/components/GetDiagnosisResult.js
  front/src/pages/PreferenceRecommendPage/PreferenceRecommendPage.js
  front/src/pages/PreferenceRecommendPage/components/BasicPopover.js
  front/src/pages/PreferenceRecommendPage/components/CodiPartInputs.js
  front/src/pages/PreferenceRecommendPage/components/GoCodiRecResult.js
  front/src/pages/PreferenceRecommendResultPage/PreferenceRecommendResultPage.js
Labels: bug, enhancement, front

#129 [Fix]: 같은 버튼 여러번 클릭 시 여러번 업데이트 되는 현상 해결
  front/src/App.js
  front/src/components/CodiPartButton.js
  front/src/pages/CodiDiagnosisPage/components/GetDiagnosisResult.js
  front/src/pages/PreferenceRecommendPage/PreferenceRecommendPage.js
  front/src/pages/PreferenceRecommendPage/components/CodiPartInputs.js
Labels: bug, front

#136 [Fix]: PRP, PRRP 업데이트
  front/src/components/CodiPartButton.js
  front/src/components/GoReviewPage.js
  front/src/pages/PreferenceRecommendPage/PreferenceRecommendPage.js
  front/src/pages/PreferenceRecommendPage/components/GoCodiRecResult.js
  front/src/pages/PreferenceRecommendResultPage/PreferenceRecommendResultPage.css
  front/src/pages/PreferenceRecommendResultPage/components/RetryButton.js
Labels: bug, enhancement, front

#138 [Fix]: CDP에서 모든 부위 선택 후 PRP 이동 시 에러
  front/src/components/CodiPartButton.js
Labels: bug, front
